<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
First App  
<a href="login">Sign In</a>
<a href="register">Sign Up</a>
<h1>{{f}}</h1>
{%if user.is_authenticated%}
<h1>Welcome! You are successfully logged in.</h1>
<h1>{{user.first_name}}</h1>
<a href="logout">Sign Out</a>
{%endif%}
{%block productsList%}
{% endblock %}
</body>
</html>