<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your Order History</h1>
<table>
{%for order in orders%}
<tr>
    <td>{{order.product.name}}</td>
    <td>{{order.quantity}}</td>
    <td>{{order.payment}}</td>
    <td>{{order.date}}</td>
    <td>{{order.delivery}}</td>
</tr>
{%endfor%}
</table>
</body>
</html>