<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="register" method="post" id="form">
        {% csrf_token %}
        <input type="text" name="credit-card" placeholder="credit card"><br>
        <input type="text" name="cvv" placeholder="cvv"><br>
        <input type="Submit" id = "payment-handler">
    </form>
    <script type="text/javascript">
        var button = document.getElementById("payment-handler");
        var form = document.getElementById("form");
        button.addEventListener('click',function(e){
            e.preventDefault();
            const formData = new FormData(form);
            const values = [...formData.entries()];

            var creditcard = values[1][1];
            var cvv = values[2][1];
            var url = "fake-payment-api";
            fetch(url,{
                method:"POST",
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':"{{csrf_token}}"
                },
                body:JSON.stringify({'cc':creditcard,'cvv':cvv})
            }).then(res=>res.json())
            .then(data=>{
                if(data.status=="OK")
                {
                    var url = "updateCart"
                    fetch(url,
                    {
                        method:"POST",
                        headers:{
                            'Content-Type':'application/json',
                            'X-CSRFToken':"{{csrf_token}}"
                        },
                        body:JSON.stringify({'status':'OK'})
                    })
                    .then(res=>res.json())
                    .then(data=>console.log(data))
                    
                }
                else{
                    location.href="cart"
                }
            })
        }
        )
    </script>
</body>
</html>